html {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
     /* padding: 5px;
    min-width: 200px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid yellowgreen;
    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 21px; */
    /* animation: sideIn ease-in 1s, sideOut ease 1s 3s forwards; */
    /* transform:  translateX(calc(100% + 32px)); */
    /* animation: slideInLeft ease 3s,sideOut ease 2s 3s forwards; */
    /* right: 0;
    transition: all 0.5s ease-out;
    position: relative; */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    margin:20px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
  }
  @keyframes slideInLeft {
    from {
        transform: translateX(calc(100% + 32px));

    } to{
        transform: translateX(0);
    }
}

@keyframes sideIn {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 12px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sideOut {
    to {
        opacity: 0;
    }
}

.toast__text {
    margin: 0;
    /* background-color:  */
}
.toast + .toast {
    margin-top: 24px;
  }

.toast__p {
    color: rgb(56, 54, 54, 0.8);
}

.toast__body {
    margin: 0 49px;
    margin-left: 12px;
}

.toast__icon {
    padding: 15px;
    color: yellowgreen;
    font-size: 20px;

}

.toast__close {
    color: rgb(168, 170, 170);
    padding-left: 50px;
    margin-right: 15px;
}

.toast__close:hover {
    color: rgb(56, 58, 58);
    ;
}

.toast--success {
    cursor: default;
}

.toast--warn {
    border-left: 5px solid rgb(205, 166, 50);
    cursor: progress;
}

.toast--warn .toast__icon {
    color: rgb(205, 166, 50);
}

.toast--failure {
    cursor: not-allowed;
    border-left: 5px solid rgb(205, 50, 50);
}

.toast--failure .toast__icon {
    color: rgb(205, 50, 50);
}